@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
body,
html {
    margin: 0;
    width: 100%;
    // height: 100%;
    padding: 0;
}

body {
    // background: #0013fd0d;
}

$btnPrimary: rgba(95,
61,
243,
0.767);
$color: rgb(126,
122,
122);
$padding: 15px;
$desktopVew: 768px;
@mixin desktop {
    @media (max-width: $desktopVew) {
        @content;
    }
}

i {
    vertical-align: middle !important;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    text-align: right;
    justify-content: end;
    z-index: 7;
    transition-property: all;
    transition-duration: 2s;
    // background: white;
    .index {
        display: inline-flex;
        float: left;
        text-decoration: none;
        color: $color;
        img {
            width: 50px;
            height: 45px;
            margin-right: 1em;
        }
    }
    ul {
        // display: flex;
        font-size: 12px;
        list-style-type: none;
        text-transform: uppercase;
        float: right;
        margin-right: 1em;
        @include desktop {
            font-size: 10px;
        }
        li {
            margin-left: 2em;
            display: inline-block;
            a {
                color: $color;
                text-decoration: none;
                border-radius: 5px;
                font-weight: bold;
                text-align: center;
                // padding: 5px;
                i {
                    vertical-align: middle;
                    color: $color;
                }
            }
        }
    }
}

#bg {
    position: absolute;
    top: 0;
    clip-path: polygon(50% 0%, 100% 0, 100% 72%, 100% 46%, 100% 74%, 83% 59%, 17% 59%, 0 75%, 0 0);
    height: 600px;
    width: 100%;
    background-image: url('../images/bgFull.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: linear;
    transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    @include desktop {
        background-size: 100% 50%;
    }
    section#primary {
        margin-top: 3em;
        padding: 20px;
        text-align: left;
        text-align: center;
        color: rgb(155, 100, 100);
        text-transform: uppercase;
        height: 100%;
        // border-radius: 9px;
        transition: all 1s;
        @include desktop {
            text-align: center;
        }
        h1 {
            font-family: 'Almendra Display';
            font-size: 2.5em;
            margin-top: 10px;
            @include desktop {
                font-size: 25px;
            }
        }
        p {
            font-size: 1em;
            @include desktop {
                font-size: 20px;
            }
        }
        a {
            color: rgb(36, 35, 35);
            text-decoration: none;
            border-radius: 5px;
            font-weight: bold;
            background-color: white;
            text-align: center;
            padding: 10px;
            margin-top: 10px;
            // margin: 50px auto 0 auto;
            @include desktop {
                padding: $padding $padding * 4;
                display: inline-block;
            }
            i {
                font-size: 15px;
            }
        }
    }
}

.content::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.content::-webkit-scrollbar {
    // width: 4px;
    background-color: #F5F5F5;
    height: 4px;
}

.content::-webkit-scrollbar-thumb {
    background-color: #2a2e82;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent)
}

.title {
    text-align: center;
    margin-top: 23em;
    text-transform: uppercase;
}

main {
    width: 100%;
    // background: linear-gradient(to bottom right, rgba(0, 140, 255, 0.507), rgba(225, 0, 255, 0.609));
    text-align: center;
    p {
        padding: 7px;
    }
    .content {
        // margin-top: 25em;
        display: flex;
        // flex-wrap: wrap;
        // justify-content: center;
        z-index: 5;
        background: white;
        width: 70%;
        overflow: auto;
        margin-left: auto;
        margin-right: auto;
        scroll-behavior: smooth;
        .cards {
            margin-left: 1em;
            width: 200px;
            padding: 7px;
            box-shadow: 0px 2px 6px 1px rgba(209, 206, 209, 0.658);
            text-align: center;
            a {
                text-decoration: none;
                img {
                    // padding: 5px;
                    margin-bottom: 3px;
                    width: 100%;
                    height: 150px;
                }
                hr {
                    border-top: .6px solid #e4dbdb;
                    width: 100%;
                    // border-image: linear-gradient(to bottom right, rgba(183, 0, 255, 0.719), rgba(0, 140, 255, 0.534));
                }
                .info {
                    width: 200px;
                    padding: 2px;
                    background: rgb(255, 255, 255);
                    border-style: solid;
                    border-width: thin;
                    border-color: rgba(226, 226, 226, 1);
                    &:hover {
                        box-shadow: 0px 2px 6px 1px rgba(150, 145, 150, 1);
                    }
                    #add {
                        margin: 1em;
                        margin-top: -3em;
                        justify-self: right;
                        text-transform: uppercase;
                        width: 50px;
                        height: 50px;
                        background: white;
                        // border-image: linear-gradient(to bottom right, rgba(183, 0, 255, 0.719), rgba(0, 140, 255, 0.534));
                        // border-image-slice: 1;
                        // border-width: 2px;
                        border: none;
                        // color: back;
                        &:hover {
                            box-shadow: 0px 2px 6px 1px rgba(150, 145, 150, 1);
                        }
                        i {
                            background: linear-gradient(to right, rgb(51, 48, 208) 0%, #330867 100%);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                        }
                    }
                    p {
                        padding: 0 1em 0 1em;
                        font-size: 14px;
                        color: rgba(105, 105, 115, 1);
                        line-height: 1.5;
                    }
                }
            }
        }
        // display: flex;
        // position: relative;
    }
    .scro {
        #scrollleft,
        #scrollright {
            // position: fixed;
            // top: 50%;
            display: inline-block;
            // justify-content: center;
            // flex-direction: column;
            i {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 10px;
                text-align: center;
                // background: #e8e8e8;
                border-radius: 50%;
                height: 50px;
                width: 50px;
                // font-size: 30px;
                cursor: pointer;
            }
        }
    }
    #foot {
        // background: rgb(233, 233, 233);
        // box-shadow: 2px 2px 2px 2px rgb(219, 219, 219);
        border-top: solid thin rgba(100, 100, 255, 0.534);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: -5;
        left: 0;
        right: 0;
        .info,
        .cont {
            border-left: solid 1px grey;
            padding: 0;
            ul {
                text-align: left;
                list-style-type: none;
                padding: 10px;
                margin: 0 1em 0 1em;
            }
            h4 {
                // margin: 0;
            }
        }
        .subscribe {
            button {
                color: white;
                text-transform: uppercase;
                width: 45%;
                padding: 10px;
                // height: 20px;
                border: none;
                margin: .5em;
                background: $btnPrimary;
                &:hover {
                    box-shadow: 0px 2px 6px 1px rgba(150, 145, 150, 1);
                }
            }
            input {
                text-align: center;
            }
            span {
                padding: 10px;
                margin-bottom: 1em;
            }
        }
    }
}