@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
body,
html {
  margin: 0;
  width: 100%;
  padding: 0;
}

i {
  vertical-align: middle !important;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  text-align: right;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  z-index: 7;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
}

nav .index {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  float: left;
  text-decoration: none;
  color: #7e7a7a;
}

nav .index img {
  width: 50px;
  height: 45px;
  margin-right: 1em;
}

nav ul {
  font-size: 12px;
  list-style-type: none;
  text-transform: uppercase;
  float: right;
  margin-right: 1em;
}

@media (max-width: 768px) {
  nav ul {
    font-size: 10px;
  }
}

nav ul li {
  margin-left: 2em;
  display: inline-block;
}

nav ul li a {
  color: #7e7a7a;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
}

nav ul li a i {
  vertical-align: middle;
  color: #7e7a7a;
}

#bg {
  position: absolute;
  top: 0;
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 72%, 100% 46%, 100% 74%, 83% 59%, 17% 59%, 0 75%, 0 0);
          clip-path: polygon(50% 0%, 100% 0, 100% 72%, 100% 46%, 100% 74%, 83% 59%, 17% 59%, 0 75%, 0 0);
  height: 600px;
  width: 100%;
  background-image: url("../images/bgFull.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
          transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}

@media (max-width: 768px) {
  #bg {
    background-size: 100% 50%;
  }
}

#bg section#primary {
  margin-top: 3em;
  padding: 20px;
  text-align: left;
  text-align: center;
  color: #9b6464;
  text-transform: uppercase;
  height: 100%;
  -webkit-transition: all 1s;
  transition: all 1s;
}

@media (max-width: 768px) {
  #bg section#primary {
    text-align: center;
  }
}

#bg section#primary h1 {
  font-family: 'Almendra Display';
  font-size: 2.5em;
  margin-top: 10px;
}

@media (max-width: 768px) {
  #bg section#primary h1 {
    font-size: 25px;
  }
}

#bg section#primary p {
  font-size: 1em;
}

@media (max-width: 768px) {
  #bg section#primary p {
    font-size: 20px;
  }
}

#bg section#primary a {
  color: #242323;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  background-color: white;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
}

@media (max-width: 768px) {
  #bg section#primary a {
    padding: 15px 60px;
    display: inline-block;
  }
}

#bg section#primary a i {
  font-size: 15px;
}

.content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

.content::-webkit-scrollbar {
  background-color: #F5F5F5;
  height: 4px;
}

.content::-webkit-scrollbar-thumb {
  background-color: #2a2e82;
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
}

.title {
  text-align: center;
  margin-top: 23em;
  text-transform: uppercase;
}

main {
  width: 100%;
  text-align: center;
}

main p {
  padding: 7px;
}

main .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 5;
  background: white;
  width: 70%;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
  scroll-behavior: smooth;
}

main .content .cards {
  margin-left: 1em;
  width: 200px;
  padding: 7px;
  -webkit-box-shadow: 0px 2px 6px 1px rgba(209, 206, 209, 0.658);
          box-shadow: 0px 2px 6px 1px rgba(209, 206, 209, 0.658);
  text-align: center;
}

main .content .cards a {
  text-decoration: none;
}

main .content .cards a img {
  margin-bottom: 3px;
  width: 100%;
  height: 150px;
}

main .content .cards a hr {
  border-top: .6px solid #e4dbdb;
  width: 100%;
}

main .content .cards a .info {
  width: 200px;
  padding: 2px;
  background: white;
  border-style: solid;
  border-width: thin;
  border-color: #e2e2e2;
}

main .content .cards a .info:hover {
  -webkit-box-shadow: 0px 2px 6px 1px #969196;
          box-shadow: 0px 2px 6px 1px #969196;
}

main .content .cards a .info #add {
  margin: 1em;
  margin-top: -3em;
  -ms-grid-column-align: right;
      justify-self: right;
  text-transform: uppercase;
  width: 50px;
  height: 50px;
  background: white;
  border: none;
}

main .content .cards a .info #add:hover {
  -webkit-box-shadow: 0px 2px 6px 1px #969196;
          box-shadow: 0px 2px 6px 1px #969196;
}

main .content .cards a .info #add i {
  background: -webkit-gradient(linear, left top, right top, from(#3330d0), to(#330867));
  background: linear-gradient(to right, #3330d0 0%, #330867 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

main .content .cards a .info p {
  padding: 0 1em 0 1em;
  font-size: 14px;
  color: #696973;
  line-height: 1.5;
}

main .scro #scrollleft,
main .scro #scrollright {
  display: inline-block;
}

main .scro #scrollleft i,
main .scro #scrollright i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
}

main #foot {
  border-top: solid thin rgba(100, 100, 255, 0.534);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: -5;
  left: 0;
  right: 0;
}

main #foot .info,
main #foot .cont {
  border-left: solid 1px grey;
  padding: 0;
}

main #foot .info ul,
main #foot .cont ul {
  text-align: left;
  list-style-type: none;
  padding: 10px;
  margin: 0 1em 0 1em;
}

main #foot .subscribe button {
  color: white;
  text-transform: uppercase;
  width: 45%;
  padding: 10px;
  border: none;
  margin: .5em;
  background: rgba(95, 61, 243, 0.767);
}

main #foot .subscribe button:hover {
  -webkit-box-shadow: 0px 2px 6px 1px #969196;
          box-shadow: 0px 2px 6px 1px #969196;
}

main #foot .subscribe input {
  text-align: center;
}

main #foot .subscribe span {
  padding: 10px;
  margin-bottom: 1em;
}
/*# sourceMappingURL=index.css.map */