@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Almendra Display");
@import url("https://fonts.googleapis.com/css?family=Cabin Sketch");
@import url("https://fonts.googleapis.com/css?family=Rajdhani&display=swap");
@import url("https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Rajdhani&display=swap");
@import url("https://fonts.googleapis.com/css?family=Faster+One|Gloria+Hallelujah|Rajdhani&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Dynalight&display=swap");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
body,
html {
  height: 100%;
}

body {
  margin: 0;
  background: white;
  background-image: url("http://localhost/jfragleshop/images/headerimg.png");
  background-attachment: fixed;
  background-size: 200px 200px;
  background-repeat: no-repeat;
  background-position: bottom right;
  padding-bottom: 5em;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}

table {
  border-collapse: collapse !important;
}

i {
  vertical-align: middle !important;
}

a {
  font-family: "Raleway", sans-serif;
}

.valError {
  color: red;
}

#pay {
  display: none;
}

#scrollBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 140, 255, 0.692)), to(rgba(183, 0, 255, 0.596)));
  background: linear-gradient(to bottom right, rgba(0, 140, 255, 0.692), rgba(183, 0, 255, 0.596));
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

@media (max-width: 1000px) {
  #scrollBtn {
    padding: 0.5em;
  }
}

.flash {
  position: fixed;
  right: 10%;
  top: 7%;
  width: 220px;
  z-index: 10;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 140, 255, 0.692)), to(rgba(183, 0, 255, 0.596)));
  background: linear-gradient(to bottom right, rgba(0, 140, 255, 0.692), rgba(183, 0, 255, 0.596));
  color: white;
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  -webkit-box-shadow: 1px 1px 2px 2px #b9b8b8d9;
          box-shadow: 1px 1px 2px 2px #b9b8b8d9;
}

@media (max-width: 1000px) {
  .flash {
    right: 10%;
  }
}

.flash .head {
  background: #f5f5f5;
  color: #111010;
  margin-top: 0;
}

.flash .head span {
  position: absolute;
  right: 15px;
  top: -2px;
  padding: 0px 0px 0px 6px;
  font-size: 36px;
  cursor: pointer;
  color: #111010;
  border-radius: 0 0 0 50%;
  font-weight: bold;
}

.flash .head span:hover {
  color: #d41d1d;
}

.flash a {
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  display: block;
  text-align: center;
  padding: 15px;
  text-transform: uppercase;
  background: rgba(95, 61, 243, 0.767);
  margin-top: 10px;
}

.flash a:hover {
  background: rgba(243, 61, 213, 0.767);
}

.flash-danger {
  background: rgba(238, 29, 29, 0.842);
  color: white;
}

header {
  font-family: "Almendra Display";
  font-size: 2em;
  margin: 5rem 1.5em 0 auto;
  width: 77%;
  color: black;
  border-bottom: solid thin #e2e2e2;
  text-align: center;
}

h1 {
  text-align: center;
}

#caties {
  background: white;
  position: fixed;
  height: 2em;
  width: 100%;
  top: -50em;
  -webkit-transition: all 1s;
  transition: all 1s;
  padding: 10px;
  z-index: 5;
}

#caties #search form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
}

#caties #search form input {
  width: 60%;
  padding: 5px;
  border: none;
  border-bottom: solid thin #e2e2e2;
}

#caties #search form button {
  border: none;
}

#caties #search form button:hover {
  color: white;
  background: #1e6d1e;
}

#caties .subscribe {
  width: 90%;
  height: auto;
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 2.5em;
  border-right: solid 1px #e2e2e2;
  background: white;
  text-align: center;
  padding-bottom: 1em;
}

@media (min-width: 1000px) {
  #caties .subscribe {
    display: none;
  }
}

#caties .subscribe header {
  font-family: "Almendra Display";
  font-size: 2em;
  margin: 0;
  margin-bottom: 0.5em;
  border: none;
  text-align: center;
}

#caties .subscribe #subForm {
  margin-bottom: 0.5em;
}

#caties .subscribe form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 7px;
}

#caties .subscribe form input {
  padding: 5px;
  width: 100%;
  margin-bottom: 5px;
}

#caties .subscribe form button {
  padding: 5px;
  color: white;
  text-transform: uppercase;
  width: 100%;
  height: 50px;
  border: none;
  background: #b9a9aeb9;
}

#caties .subscribe form button:hover {
  -webkit-box-shadow: 0px 2px 6px 1px #969196;
          box-shadow: 0px 2px 6px 1px #969196;
  background: rgba(95, 61, 243, 0.767);
}

#caties .subscribe span {
  font-family: "Rajdhani", sans-serif;
}

#caties .subscribe .catSub {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 2em;
  border-bottom: solid 1px #e2e2e2;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-transform: uppercase;
}

#caties .subscribe .catSub .icon {
  cursor: pointer;
}

#caties .subscribe .catSub .icon a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-right: 1em;
  text-decoration: none;
}

#caties .subscribe .catSub .icon a img {
  width: 50px;
  height: 50px;
  border: solid 0.7px rgba(165, 163, 175, 0.767);
  padding: 5px;
}

#caties .subscribe .catSub .icon a span {
  color: white;
  background: rgba(165, 163, 175, 0.767);
}

#caties .subscribe .catSub .icon:hover {
  background: rgba(95, 61, 243, 0.767);
}

#caties .subscribe .catSub .icon:hover span {
  background: rgba(95, 61, 243, 0.767);
}

.contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  margin-bottom: 3em;
}

.contain .test {
  width: 80%;
}

@media (max-width: 1000px) {
  .contain .test {
    width: 90%;
    margin-left: 1em;
  }
}

.contain .test .tabRad {
  display: none;
  visibility: hidden;
}

.contain .test .tabRad:checked + label {
  color: #0af;
  border-bottom: 2px solid rgba(100, 100, 255, 0.534);
}

.contain .test label {
  display: inline-block;
  margin: 10px 0 -1px 2em;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #abc;
  border: 1px solid transparent;
}

.contain .test label:before {
  margin-right: 10px;
}

.contain .test label:hover {
  color: red;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .contain .test label:before {
    margin: 0;
    font-size: 18px;
  }
}

.contain .test label[for*="1"]:before {
  content: "\f1cb";
}

.contain .test label[for*="2"]:before {
  content: "\f17d";
}

.contain .test label[for*="3"]:before {
  content: "\f16c";
}

.contain .test label[for*="4"]:before {
  content: "\f171";
}

.contain .test #tab1:checked ~ #content1,
.contain .test #tab2:checked ~ #content2,
.contain .test #tab3:checked ~ #content3,
.contain .test #tab4:checked ~ #content4 {
  display: -ms-grid;
  display: grid;
}

.contain .test section {
  display: none;
}

.contain .test section .products {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(17rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
  grid-gap: 1em;
  z-index: 0;
  margin: 2em;
}

@media (max-width: 1000px) {
  .contain .test section .products {
    margin: 1em;
    -ms-grid-columns: (minmax(9rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
  }
}

.contain .test section .products .card img {
  margin-bottom: 3px;
  width: 100%;
  height: 250px;
}

@media (max-width: 1000px) {
  .contain .test section .products .card img {
    height: 176px;
  }
}

.contain .test section .products .card hr {
  border-top: 0.6px solid #e4dbdb;
  width: 100%;
  margin: 0;
}

.contain .test section .products .card .info {
  padding: 2px;
  background: white;
  border-style: solid;
  border-width: thin;
  border-color: #e2e2e2;
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

.contain .test section .products .card .info:hover {
  -webkit-box-shadow: 0px 2px 6px 1px #969196;
          box-shadow: 0px 2px 6px 1px #969196;
}

.contain .test section .products .card .info form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contain .test section .products .card .info form:hover {
  background: #e4e4e4;
}

.contain .test section .products .card .info form #add {
  margin: -1em 0 0;
  -ms-grid-column-align: right;
      justify-self: right;
  text-transform: uppercase;
  width: 50px;
  height: 50px;
  background: white;
  border: none;
  -webkit-transition: width 0.6s;
  transition: width 0.6s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  border: solid thin #e2e2e2;
}

.contain .test section .products .card .info form #add span {
  display: none;
}

.contain .test section .products .card .info form #add:hover {
  -webkit-box-shadow: 0px 2px 6px 1px #969196;
          box-shadow: 0px 2px 6px 1px #969196;
  width: 167px;
}

@media (max-width: 1000px) {
  .contain .test section .products .card .info form #add:hover {
    width: 50px;
  }
}

.contain .test section .products .card .info form #add:hover span {
  display: inline;
}

@media (max-width: 1000px) {
  .contain .test section .products .card .info form #add:hover span {
    display: none;
  }
}

.contain .test section .products .card .info form #add:hover i {
  display: none;
}

@media (max-width: 1000px) {
  .contain .test section .products .card .info form #add:hover i {
    display: block;
  }
}

.contain .test section .products .card .info form #add i {
  background: -webkit-gradient(linear, left top, right top, from(#30cfd0), to(#330867));
  background: linear-gradient(to right, #30cfd0 0%, #330867 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contain .test section .products .card .info form .qty {
  margin-left: 1em;
  -ms-grid-column-align: left;
      justify-self: left;
}

.contain .test section .products .card .info form .qty .input-group span {
  font-size: 12px;
}

.contain .test section .products .card .info form .qty .input-group .quantity-field {
  height: 20px;
  text-align: center;
  width: 52px;
  border: none;
  border-bottom-width: solid thin;
  border-color: #e7e7e7;
}

.contain .test section .products .card .info p {
  padding: 0 1em 0 1em;
  font-size: 14px;
  color: #696973;
}

.contain .test section .products .card .info span {
  margin: 0 0 5px;
}

.contain .test section .products .card .info .price {
  padding: 0;
  margin: 5px 0;
  font-size: 1.5em;
  color: red;
  font-family: "Dynalight", cursive;
}

.contain .test section .products .card .info .pricething {
  width: 70px;
}

.contain .test section .products .card .info .imagePlace {
  position: relative;
}

.contain .test section .products .card .info .imagePlace #outStock {
  position: absolute;
  left: 0;
  top: 40%;
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
  background: #f01717;
  color: white;
  padding: 6px;
  width: 100%;
  text-align: center;
  border-radius: 50px;
  -webkit-clip-path: polygon(0% 15%, 24% 15%, 15% 0%, 85% 0%, 76% 16%, 100% 15%, 100% 85%, 78% 85%, 85% 100%, 15% 100%, 21% 83%, 0% 85%);
          clip-path: polygon(0% 15%, 24% 15%, 15% 0%, 85% 0%, 76% 16%, 100% 15%, 100% 85%, 78% 85%, 85% 100%, 15% 100%, 21% 83%, 0% 85%);
}

.contain .test section .products .card .info .imagePlace #ad {
  position: absolute;
  right: 0;
  top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 101px;
  font-size: 15px;
}

.contain .test section .products .card .info .imagePlace #ad i {
  font-size: 15px;
}

.contain .test section .products .card .info .imagePlace #ad #sp,
.contain .test section .products .card .info .imagePlace #ad #new {
  -webkit-clip-path: polygon(100% 0, 100% 100%, 28% 100%, 0 0);
          clip-path: polygon(100% 0, 100% 100%, 28% 100%, 0 0);
  width: 80px;
  background: #d63232;
  color: white;
  padding: 3px;
  text-align: right;
}

.contain .test section .products .card .info .imagePlace #ad #new {
  background: #3345a9 !important;
  width: 60px !important;
}

.contain .test section .products .card .info .imagePlace .text {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: inherit;
  height: 250px;
  text-align: center;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 140, 255, 0.007)), to(rgba(183, 0, 255, 0.431)));
  background: linear-gradient(to bottom right, rgba(0, 140, 255, 0.007), rgba(183, 0, 255, 0.431));
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
  vertical-align: middle;
  line-height: 200px;
}

.contain .test section .products .card .info .imagePlace .text:hover {
  opacity: 1;
}

.contain .test section .products .card .info .imagePlace .text a {
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 140, 255, 0.548)), to(rgba(183, 0, 255, 0.404)));
  background: linear-gradient(to bottom right, rgba(0, 140, 255, 0.548), rgba(183, 0, 255, 0.404));
  text-align: center;
  padding: 10px;
  margin-top: 10px;
}

.contain .test section .products .card .info .imagePlace .text h3 {
  color: white;
  display: inline-table;
  vertical-align: middle;
  line-height: 100%;
}

.contain .subscribe {
  width: 20%;
  height: auto;
  padding-right: 10px;
  padding-left: 10px;
  margin-top: -2.5em;
  border-right: solid 1px #e2e2e2;
  background-image: url("http://localhost/jfragleshop/images/headerimg.png");
  background-size: 300px 300px;
  background-repeat: no-repeat;
  background-position: bottom;
}

@media (max-width: 1000px) {
  .contain .subscribe {
    display: none;
  }
}

.contain .subscribe header {
  font-family: "Almendra Display";
  font-size: 2em;
  margin: 0;
  margin-bottom: 0.5em;
  border: none;
}

.contain .subscribe #subForm {
  margin-bottom: 0.5em;
}

.contain .subscribe form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 7px;
}

.contain .subscribe form input {
  padding: 5px;
  width: 100%;
  margin-bottom: 5px;
}

.contain .subscribe form button {
  padding: 5px;
  color: white;
  text-transform: uppercase;
  width: 100%;
  height: 50px;
  border: none;
  background: #b9a9aeb9;
}

.contain .subscribe form button:hover {
  -webkit-box-shadow: 0px 2px 6px 1px #969196;
          box-shadow: 0px 2px 6px 1px #969196;
  background: rgba(95, 61, 243, 0.767);
}

.contain .subscribe span {
  font-family: "Rajdhani", sans-serif;
}

.contain .subscribe .catSub {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 2em;
  border-bottom: solid 1px #e2e2e2;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-transform: uppercase;
}

.contain .subscribe .catSub .icon {
  cursor: pointer;
}

.contain .subscribe .catSub .icon a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-right: 1em;
  text-decoration: none;
}

.contain .subscribe .catSub .icon a img {
  width: 50px;
  height: 50px;
  border: solid 0.7px rgba(165, 163, 175, 0.767);
  padding: 5px;
}

.contain .subscribe .catSub .icon a span {
  color: white;
  background: rgba(165, 163, 175, 0.767);
}

.contain .subscribe .catSub .icon a:hover {
  background: rgba(95, 61, 243, 0.767);
}

.contain .subscribe .catSub .icon a:hover span {
  background: rgba(95, 61, 243, 0.767);
}

nav {
  height: 50px;
  z-index: 5;
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 2px 2px 2px 2px #dbdbdb;
          box-shadow: 2px 2px 2px 2px #dbdbdb;
  border-bottom: solid thin rgba(100, 100, 255, 0.534);
  color: red !important;
}

nav a {
  color: #7e7a7a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  text-decoration: none;
}

nav a img {
  margin-top: 5px;
  width: 40px;
  height: 40px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

@media (max-width: 1000px) {
  nav ul {
    margin: 0;
  }
}

nav ul button {
  border-radius: 3px;
  padding: 7px;
  border: none;
  background: none;
  color: #111111;
}

nav ul button:hover {
  -webkit-box-shadow: 0px 2px 6px 1px #969196;
          box-shadow: 0px 2px 6px 1px #969196;
}

nav .closebtn {
  margin: 7px 10px 0;
  font-size: 30px;
  color: #7e7a7a;
  font-weight: bold;
  cursor: pointer;
}

.sidenav {
  width: 300px;
  height: 100%;
  background: white;
  background-image: url("http://localhost/jfragleshop/images/headerimg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 10;
  right: -20em;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.sidenav .closebtn {
  font-size: 40px;
  color: #7e7a7a;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  padding-left: 0.5em;
}

.sidenav .closebtn span {
  text-align: end;
  font-size: 20px;
}

.sidenav ul {
  margin: 0;
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  padding: 0;
}

.sidenav ul li input {
  border: none;
  border-radius: 1px;
  background: rgba(207, 205, 205, 0.733);
  border-bottom: solid white 1px;
  padding: 5px;
  opacity: 0.9;
}

.sidenav ul li input:hover {
  opacity: 10;
}

.sidenav ul li a {
  display: block;
  text-decoration: none;
  padding: 1em;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.sidenav ul li a:hover {
  color: black;
  font-size: 1.5em;
  background-color: rgba(223, 199, 199, 0.507);
}

.badge {
  font-size: 0.8em;
  z-index: 3;
  border-radius: 40%;
  color: white;
  padding: 4px;
  background: rgba(247, 9, 9, 0.726);
}

.cart {
  width: 300px;
  height: 100%;
  background: white;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 10;
  border-right: solid rgba(100, 100, 255, 0.534) 1px;
  left: -20em;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.cart .cartItems {
  margin-top: 1em;
  padding: 5px;
  display: block;
  max-height: 20.5em;
  overflow: auto;
  display: block;
  color: #7e7a7a;
  text-decoration: none;
}

@media (max-width: 1000px) {
  .cart .cartItems {
    max-height: 20.5em;
  }
}

.cart .cartItems .item {
  margin-top: 1em;
  border-bottom: solid 0.5px rgba(10, 10, 146, 0.37);
  text-align: left;
}

.cart .cartItems .item img {
  width: 70px;
  height: 50px;
  float: left;
  margin-bottom: 5px;
}

.cart .cartItems .item .theQty {
  margin-right: 10px;
}

.cart .cartItems .item .del i {
  color: red;
}

.cart .cartItems .item .pricing {
  padding: 4px;
}

.cart .cartItems .item .pricing .prodName {
  margin-left: 80px;
  margin-bottom: 5px;
  margin-top: -5px;
}

.cart .cartItems .item .pricing .price {
  margin-left: 200px;
}

.cart .cartItems .item .pricing .input-group {
  margin-left: 80px;
}

.cart .cartItems .item .pricing .input-group input {
  border: 1px solid #eeeeee;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 10px;
}

.cart .cartItems .item .pricing .input-group .quantity-field {
  position: relative;
  height: 28px;
  left: -6px;
  text-align: center;
  width: 52px;
  display: inline-block;
  margin: 0 0 5px;
  resize: vertical;
}

.cart .top {
  text-align: center;
  border-bottom: solid rgba(100, 100, 255, 0.534) 1px;
  height: 30px;
}

.cart .top h2 {
  color: #7e7a7a;
  left: 5px;
  padding: 0;
}

.cart .top hr {
  visibility: hidden;
  position: absolute;
  top: 41px;
  left: 0;
  right: 0;
}

.cart .top .closebtn {
  position: absolute;
  top: 3px;
  right: 10px;
  font-size: 40px;
  color: #7e7a7a;
  font-weight: bold;
  cursor: pointer;
}

.cart .bottom {
  position: absolute;
  bottom: 1em;
  padding: 10px;
  width: 280px;
  height: 126px;
  border-top: solid rgba(100, 100, 255, 0.534) 1px;
  color: #7e7a7a;
}

.cart .bottom h2 {
  color: #7e7a7a;
  margin: 0;
}

.cart .bottom span {
  width: 100%;
  position: absolute;
  bottom: 112px;
  right: -210px;
}

.cart .bottom a {
  color: #242323;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  display: block;
  text-align: center;
  padding: 15px;
  text-transform: uppercase;
  background: rgba(95, 61, 243, 0.767);
}

#conatcUS {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(19rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
  grid-gap: 1em;
  z-index: 0;
  margin: 1em;
}

#conatcUS form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

#conatcUS form input {
  margin-bottom: 0.5em;
  padding: 10px;
  border: none;
  -webkit-box-shadow: 2px 2px 2px 2px rgba(151, 147, 147, 0.616);
          box-shadow: 2px 2px 2px 2px rgba(151, 147, 147, 0.616);
  border-radius: 10px;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.664)), color-stop(rgba(255, 255, 255, 0.664)), to(rgba(183, 0, 255, 0.596)));
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.664), rgba(255, 255, 255, 0.664), rgba(183, 0, 255, 0.596));
}

#conatcUS form textarea {
  margin-bottom: 0.5em;
  padding: 10px;
  border: none;
  -webkit-box-shadow: 2px 2px 2px 2px rgba(151, 147, 147, 0.616);
          box-shadow: 2px 2px 2px 2px rgba(151, 147, 147, 0.616);
}

#conatcUS form button {
  padding: 10px;
  border: none;
  -webkit-box-shadow: 2px 2px 2px 2px rgba(151, 147, 147, 0.616);
          box-shadow: 2px 2px 2px 2px rgba(151, 147, 147, 0.616);
  text-transform: uppercase;
  letter-spacing: 7px;
  background-color: #edd9dfb9;
}

#conatcUS .sidies .info p {
  margin: 0;
}

#conatcUS .map {
  -webkit-box-shadow: 2px 2px 2px 2px rgba(151, 147, 147, 0.616);
          box-shadow: 2px 2px 2px 2px rgba(151, 147, 147, 0.616);
}

main {
  border-top: 1px solid #abc;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(17rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
  grid-gap: 1em;
  z-index: 0;
  margin: 2em;
}

@media (max-width: 1000px) {
  main {
    -ms-grid-columns: (minmax(9rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
  }
}

main .card img {
  margin-bottom: 3px;
  width: 100%;
  height: 250px;
}

@media (max-width: 1000px) {
  main .card img {
    height: 176px;
  }
}

main .card hr {
  border-top: 0.6px solid #e4dbdb;
  width: 100%;
  margin: 0;
}

main .card .info {
  padding: 2px;
  background: white;
  border-style: solid;
  border-width: thin;
  border-color: #e2e2e2;
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

main .card .info:hover {
  -webkit-box-shadow: 0px 2px 6px 1px #969196;
          box-shadow: 0px 2px 6px 1px #969196;
}

main .card .info form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .card .info form:hover {
  background: #e4e4e4;
}

main .card .info form #add {
  margin: -1em 0 0;
  -ms-grid-column-align: right;
      justify-self: right;
  text-transform: uppercase;
  width: 50px;
  height: 50px;
  background: white;
  border: none;
  -webkit-transition: width 0.6s;
  transition: width 0.6s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  border: solid thin #e2e2e2;
}

main .card .info form #add span {
  display: none;
}

main .card .info form #add:hover {
  -webkit-box-shadow: 0px 2px 6px 1px #969196;
          box-shadow: 0px 2px 6px 1px #969196;
  width: 167px;
}

main .card .info form #add:hover span {
  display: inline;
}

main .card .info form #add:hover i {
  display: none;
}

main .card .info form #add i {
  background: -webkit-gradient(linear, left top, right top, from(#30cfd0), to(#330867));
  background: linear-gradient(to right, #30cfd0 0%, #330867 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

main .card .info form .qty {
  margin-left: 1em;
  -ms-grid-column-align: left;
      justify-self: left;
}

main .card .info form .qty .input-group span {
  font-size: 12px;
}

main .card .info form .qty .input-group .quantity-field {
  height: 20px;
  text-align: center;
  width: 52px;
  border: none;
  border-bottom-width: solid thin;
  border-color: #e7e7e7;
}

main .card .info p {
  padding: 0 1em 0 1em;
  font-size: 14px;
  color: #696973;
}

main .card .info span {
  margin: 0 0 5px;
}

main .card .info .price {
  padding: 0;
  margin: 5px 0;
  font-size: 1.5em;
  color: red;
  font-family: "Dynalight", cursive;
}

main .card .info .pricething {
  width: 70px;
}

main .card .info .imagePlace {
  position: relative;
}

main .card .info .imagePlace #outStock {
  position: absolute;
  left: 0;
  top: 40%;
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
  background: #f01717;
  color: white;
  padding: 6px;
  width: 100%;
  text-align: center;
  border-radius: 50px;
  -webkit-clip-path: polygon(0% 15%, 24% 15%, 15% 0%, 85% 0%, 76% 16%, 100% 15%, 100% 85%, 78% 85%, 85% 100%, 15% 100%, 21% 83%, 0% 85%);
          clip-path: polygon(0% 15%, 24% 15%, 15% 0%, 85% 0%, 76% 16%, 100% 15%, 100% 85%, 78% 85%, 85% 100%, 15% 100%, 21% 83%, 0% 85%);
}

main .card .info .imagePlace #ad {
  position: absolute;
  right: 0;
  top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 101px;
  font-size: 15px;
}

main .card .info .imagePlace #ad i {
  font-size: 15px;
}

main .card .info .imagePlace #ad #sp,
main .card .info .imagePlace #ad #new {
  -webkit-clip-path: polygon(100% 0, 100% 100%, 28% 100%, 0 0);
          clip-path: polygon(100% 0, 100% 100%, 28% 100%, 0 0);
  width: 80px;
  background: #d63232;
  color: white;
  padding: 3px;
  text-align: right;
}

main .card .info .imagePlace #ad #new {
  background: #3345a9 !important;
  width: 60px !important;
}

main .card .info .imagePlace .text {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: inherit;
  height: 250px;
  text-align: center;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 140, 255, 0.007)), to(rgba(183, 0, 255, 0.431)));
  background: linear-gradient(to bottom right, rgba(0, 140, 255, 0.007), rgba(183, 0, 255, 0.431));
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
  vertical-align: middle;
  line-height: 200px;
}

main .card .info .imagePlace .text:hover {
  opacity: 1;
}

main .card .info .imagePlace .text a {
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 140, 255, 0.548)), to(rgba(183, 0, 255, 0.404)));
  background: linear-gradient(to bottom right, rgba(0, 140, 255, 0.548), rgba(183, 0, 255, 0.404));
  text-align: center;
  padding: 10px;
  margin-top: 10px;
}

main .card .info .imagePlace .text h3 {
  color: white;
  display: inline-table;
  vertical-align: middle;
  line-height: 100%;
}

.thedetails header {
  margin: 1em 0;
  width: 100%;
}

.thedetails #details {
  width: 100%;
}

.thedetails #details .card .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2px;
  background: white;
}

@media (max-width: 1000px) {
  .thedetails #details .card .info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.thedetails #details .card .info .imagePlace {
  width: 60%;
}

@media (max-width: 1000px) {
  .thedetails #details .card .info .imagePlace {
    width: 100%;
  }
}

.thedetails #details .card .info .imagePlace img {
  width: 100%;
  height: 500px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.thedetails #details .card .info .imagePlace img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.thedetails #details .card .info .imagePlace {
  position: relative;
}

.thedetails #details .card .info .imagePlace #outStock {
  position: absolute;
  left: 20%;
  top: 40%;
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
  background: #f01717;
  color: white;
  padding: 6px;
  width: 60%;
  text-align: center;
  border-radius: 50px;
  -webkit-clip-path: polygon(0% 15%, 24% 15%, 15% 0%, 85% 0%, 76% 16%, 100% 15%, 100% 85%, 78% 85%, 85% 100%, 15% 100%, 21% 83%, 0% 85%);
          clip-path: polygon(0% 15%, 24% 15%, 15% 0%, 85% 0%, 76% 16%, 100% 15%, 100% 85%, 78% 85%, 85% 100%, 15% 100%, 21% 83%, 0% 85%);
}

.thedetails #details .card .info .imagePlace #ad {
  position: absolute;
  right: 0;
  top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 170px;
  font-size: 20px;
}

.thedetails #details .card .info .imagePlace #ad i {
  font-size: 20px;
}

.thedetails #details .card .info .imagePlace #ad #sp,
.thedetails #details .card .info .imagePlace #ad #new {
  -webkit-clip-path: polygon(100% 0, 100% 100%, 28% 100%, 0 0);
          clip-path: polygon(100% 0, 100% 100%, 28% 100%, 0 0);
  width: 80%;
  background: #d63232;
  color: white;
  padding: 3px;
  text-align: right;
}

.thedetails #details .card .info .imagePlace #ad #new {
  background: #3345a9 !important;
  width: 60% !important;
}

.thedetails #details .card .info .dits {
  width: 35%;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  padding: 2em;
}

@media (max-width: 1000px) {
  .thedetails #details .card .info .dits {
    width: 100%;
  }
}

.thedetails #details .card .info .dits hr {
  -ms-grid-column-align: center !important;
      justify-self: center !important;
  border-top: 0.6px solid #e4dbdb;
  width: 100%;
  height: 0.5px;
  margin: 0;
}

.thedetails #details .card .info .dits .price {
  color: red;
  font-family: "Dynalight", cursive;
  font-size: 2em;
}

.thedetails #details .card .info .dits form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.thedetails #details .card .info .dits form:hover {
  background: #e4e4e4;
}

.thedetails #details .card .info .dits form #add {
  margin: -1em 0 0;
  -ms-grid-column-align: right;
      justify-self: right;
  text-transform: uppercase;
  width: 200px;
  height: 50px;
  background: white;
  border: none;
  -webkit-box-shadow: 0px 2px 6px 1px #969196;
          box-shadow: 0px 2px 6px 1px #969196;
}

.thedetails #details .card .info .dits form #add i {
  background: -webkit-gradient(linear, left top, right top, from(#30cfd0), to(#330867));
  background: linear-gradient(to right, #30cfd0 0%, #330867 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 1000px) {
  .thedetails #details .card .info .dits form #add {
    margin: 0;
  }
}

.thedetails #details .card .info .dits form .qty {
  margin-left: 1em;
  -ms-grid-column-align: left;
      justify-self: left;
}

.thedetails #details .card .info .dits form .qty .input-group span {
  font-size: 12px;
}

.thedetails #details .card .info .dits form .qty .input-group .quantity-field {
  height: 20px;
  text-align: center;
  width: 52px;
  border: none;
  border-bottom-width: solid thin;
  border-color: #e7e7e7;
}

.thedetails #details .card .info .dits p {
  padding-left: 1em;
}

.thedetails #details .card .info .dits strong {
  font-size: 1.5em;
}

.thedetails #details .card .info .dits h5 {
  padding: 0;
  margin: 0;
  font-size: 1em;
}

.thedetails #details .card .info .dits .pricething {
  width: 70px;
}

.thedetails #details .card .info .dits .qty {
  margin-left: 1em;
  -ms-grid-column-align: left;
      justify-self: left;
}

.thedetails #details .card .info .dits .qty .input-group input {
  border: 1px solid #eeeeee;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 10px;
  outline: none;
  border: none;
}

.thedetails #details .card .info .dits .qty .input-group .quantity-field {
  height: 20px;
  text-align: center;
  width: 52px;
  margin: 0 0 7px;
  resize: vertical;
}

#overlay {
  width: 100%;
  height: 100%;
  top: 0;
  display: none;
  background: #000000ba;
  position: fixed;
  -webkit-transition: all 2s;
  transition: all 2s;
  z-index: 4;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

#overlay #help {
  background: #f5f5f5;
  margin: 3em;
  width: 400px;
  height: 100%;
  border: none;
  -o-border-image: linear-gradient(to bottom right, rgba(183, 0, 255, 0.466), rgba(0, 140, 255, 0.37));
     border-image: -webkit-gradient(linear, left top, right bottom, from(rgba(183, 0, 255, 0.466)), to(rgba(0, 140, 255, 0.37)));
     border-image: linear-gradient(to bottom right, rgba(183, 0, 255, 0.466), rgba(0, 140, 255, 0.37));
  border-image-slice: 1;
  border-left: solid;
  border-right: solid;
  border-width: 10px;
  visibility: hidden;
}

#overlay #help .closebtn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 50px;
}

@media (max-width: 1000px) {
  #overlay #help {
    width: 100%;
    left: 0;
    right: 0;
    margin: 3.5em 1em 1em 1em;
  }
}

#overlay #help h2 {
  font-family: "Almendra Display";
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(183, 0, 255, 0.719)), to(rgba(0, 140, 255, 0.534)));
  background-image: linear-gradient(to bottom right, rgba(183, 0, 255, 0.719), rgba(0, 140, 255, 0.534));
}

#overlay #help p {
  padding: 7px;
}

#overlay #help button {
  border: none;
  background: #f57373;
  padding: 10px;
  text-transform: uppercase;
  border-radius: 3px;
  bottom: 0;
  right: 0;
  margin-left: 50%;
}

#cartPage {
  text-align: center;
  width: 100%;
}

#cartPage p {
  width: 50%;
  font-size: 22px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background: #789;
  border-radius: 5px;
  padding: 5px;
}

#cartPage .mainTab {
  width: 90%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border: none;
  margin-bottom: 2em;
}

@media (max-width: 1000px) {
  #cartPage .mainTab {
    width: 100%;
  }
}

#cartPage .mainTab tr:hover {
  background-color: #f5f5f5;
}

#cartPage .mainTab th,
#cartPage .mainTab td {
  border-bottom: 1px solid #ddd;
  padding: 6px;
}

#cartPage .mainTab thead {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 140, 255, 0.534)), to(rgba(183, 0, 255, 0.719)));
  background-image: linear-gradient(to bottom right, rgba(0, 140, 255, 0.534), rgba(183, 0, 255, 0.719));
}

#cartPage .mainTab .qty {
  width: 50px;
}

#cartPage .mainTab img {
  width: 50px;
  height: 50px;
}

#cartPage .mainTab button {
  border: none;
  color: white;
  padding: 3px;
}

#cartPage .mainTab button:hover {
  background: #040405;
}

#cartPage .mainTab .ren {
  background: #2d2e80;
}

#cartPage .mainTab .del {
  text-decoration: none;
  color: #f52929;
}

#cartPage .mainTab input {
  border: none;
  width: 50px;
  text-align: center;
  padding: 7px;
}

#cartPage .total {
  width: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border: none;
  border-radius: 3px;
  -ms-grid-column-align: center;
      justify-self: center;
  background: white;
}

#cartPage .total .leftis {
  width: 50%;
  text-align: right;
}

#cartPage .total td {
  text-align: left;
  padding: 4px;
}

#cartPage .total td a {
  color: #242323;
  text-decoration: none;
  border-radius: 5px;
  color: white;
  display: block;
  text-align: center;
  padding: 15px;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
}

#cartPage .total td a i {
  font-size: 15px;
}

#cartPage .total td .cont {
  background: rgba(47, 47, 194, 0.87);
}

#cartPage .total td .checkout {
  background: rgba(25, 110, 25, 0.925);
  cursor: pointer;
}

@-webkit-keyframes form {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-23);
            transform: translateY(-23);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes form {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-23);
            transform: translateY(-23);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

#cartPage #checkOutForm {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  margin: 1em auto;
  -webkit-animation: 1s form;
          animation: 1s form;
}

#cartPage #checkOutForm .heading {
  text-transform: uppercase;
  margin: 0.5em;
  border-bottom: solid thin #cf73bb;
}

#cartPage #checkOutForm input,
#cartPage #checkOutForm select {
  margin-bottom: 0.5em;
  padding: 10px;
  border: none;
  -webkit-box-shadow: 2px 2px 2px 2px rgba(151, 147, 147, 0.616);
          box-shadow: 2px 2px 2px 2px rgba(151, 147, 147, 0.616);
  border-radius: 10px;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.664)), color-stop(rgba(255, 255, 255, 0.664)), to(rgba(183, 0, 255, 0.596)));
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.664), rgba(255, 255, 255, 0.664), rgba(183, 0, 255, 0.596));
}

#cartPage #checkOutForm textarea {
  margin-bottom: 0.5em;
  padding: 10px;
  border: none;
  -webkit-box-shadow: 2px 2px 2px 2px rgba(151, 147, 147, 0.616);
          box-shadow: 2px 2px 2px 2px rgba(151, 147, 147, 0.616);
}

#cartPage #checkOutForm button {
  padding: 10px;
  border: none;
  -webkit-box-shadow: 2px 2px 2px 2px rgba(151, 147, 147, 0.616);
          box-shadow: 2px 2px 2px 2px rgba(151, 147, 147, 0.616);
  text-transform: uppercase;
  letter-spacing: 7px;
  background-color: #6ad860b9;
  margin: 1em 0;
  cursor: pointer;
  background-color: #d860d8b9;
  color: white;
  border-radius: 1em;
}

#aboutPage #banner {
  padding: 12em 0 10em 0;
  background-image: url("http://localhost/jfragleshop/images/banner.jpg");
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
}

#aboutPage #banner header {
  margin: 0;
  color: white;
  margin: 0 auto 0 auto;
}

#aboutPage .aboutUs {
  margin: 0 1em 0 1em;
  text-align: center;
}

#aboutPage .aboutUs .statements {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(17rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
}

#add_search #search form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
}

#add_search #search form input {
  width: 60%;
  padding: 5px;
  border: none;
  border-bottom: solid thin #e2e2e2;
}

#add_search #search form button {
  border: none;
}

#add_search #search form button:hover {
  color: white;
  background: #1e6d1e;
}

#csold {
  width: 90%;
  border-radius: 10px;
  margin: 4em auto;
  text-align: center;
  -webkit-box-shadow: 0px 1px 2px 2px #c4c3c3;
          box-shadow: 0px 1px 2px 2px #c4c3c3;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(240, 157, 208, 0.801)), color-stop(rgba(212, 129, 241, 0.199)), to(rgba(227, 174, 247, 0.199)));
  background: linear-gradient(rgba(240, 157, 208, 0.801), rgba(212, 129, 241, 0.199), rgba(227, 174, 247, 0.199));
}

#csold h2 {
  color: #5c5858;
  font-family: "Almendra Display";
  font-weight: 800;
}

#csold h2 span {
  color: #966ee0;
}

.cardIsh {
  width: 400px;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  margin: 7em auto;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(216, 157, 240, 0.801)), color-stop(rgba(185, 165, 240, 0.767)), color-stop(rgba(212, 129, 241, 0.199)), to(rgba(227, 174, 247, 0.199)));
  background: linear-gradient(rgba(216, 157, 240, 0.801), rgba(185, 165, 240, 0.767), rgba(212, 129, 241, 0.199), rgba(227, 174, 247, 0.199));
  -webkit-box-shadow: 0 1px 2px 2px #bfbfbf;
          box-shadow: 0 1px 2px 2px #bfbfbf;
}

@media (max-width: 1000px) {
  .cardIsh {
    width: 100%;
    margin: 4em 0;
  }
}

.cardIsh * {
  width: 90%;
  margin: 0 auto;
}

.cardIsh h2 {
  margin-top: 4em;
  color: white;
}

.cardIsh button {
  background: #6c88e2b9 !important;
  border-radius: 1em;
  border: none;
  margin: 1em;
  color: white;
  height: 2em;
  padding: 0 !important;
}

.cardIsh input {
  border: solid thin #c5c5c5;
  border-radius: 10px;
  padding: 7px;
  text-align: center;
  background: rgba(255, 255, 255, 0.404);
}

.cardIsh label {
  text-align: left;
  margin-top: 1em;
  color: #ececec;
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  margin: 1em auto;
}

@media (max-width: 1000px) {
  .login {
    width: 95%;
  }
}

.login header {
  margin-bottom: 1em;
  text-align: center;
}

.login input,
.login select {
  margin-bottom: 0.5em;
  padding: 10px;
  border: none;
  -webkit-box-shadow: 2px 2px 2px 2px rgba(151, 147, 147, 0.616);
          box-shadow: 2px 2px 2px 2px rgba(151, 147, 147, 0.616);
  border-radius: 10px;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.664)), color-stop(rgba(255, 255, 255, 0.664)), to(rgba(183, 0, 255, 0.596)));
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.664), rgba(255, 255, 255, 0.664), rgba(183, 0, 255, 0.596));
}

.login textarea {
  margin-bottom: 0.5em;
  padding: 10px;
  border: none;
  -webkit-box-shadow: 2px 2px 2px 2px rgba(151, 147, 147, 0.616);
          box-shadow: 2px 2px 2px 2px rgba(151, 147, 147, 0.616);
}

.login button {
  padding: 10px;
  border: none;
  -webkit-box-shadow: 2px 2px 2px 2px rgba(151, 147, 147, 0.616);
          box-shadow: 2px 2px 2px 2px rgba(151, 147, 147, 0.616);
  text-transform: uppercase;
  letter-spacing: 7px;
  background-color: #edd9dfb9;
}

.login .valError {
  color: red;
}

#tabThing {
  border-collapse: collapse;
  width: 95%;
  margin: 5em auto;
  -webkit-box-shadow: 0px 1px 2px 2px #aaaaaa;
          box-shadow: 0px 1px 2px 2px #aaaaaa;
}

#tabThing th {
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(3, 139, 250, 0.404)), to(rgba(183, 0, 255, 0.486)));
  background: linear-gradient(to bottom right, rgba(3, 139, 250, 0.404), rgba(183, 0, 255, 0.486));
}

#tabThing th,
#tabThing td {
  text-align: center;
  padding: 3px;
}

#tabThing tr:nth-child(even) {
  background-color: #fff1fd;
}

#tabThing button {
  background: #45d845;
  border: none;
  border-radius: 3px;
}

#tabThing button i {
  color: white;
}

#tabThing input,
#tabThing textarea {
  border: none;
  padding: 3px;
  text-align: center;
  background: none;
  border-bottom: solid thin white;
}

#menu {
  width: 400px;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  margin: 7em auto;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(216, 157, 240, 0.801)), color-stop(rgba(185, 165, 240, 0.767)), color-stop(rgba(212, 129, 241, 0.199)), to(rgba(227, 174, 247, 0.199)));
  background: linear-gradient(rgba(216, 157, 240, 0.801), rgba(185, 165, 240, 0.767), rgba(212, 129, 241, 0.199), rgba(227, 174, 247, 0.199));
  width: 95%;
  height: 100%;
  padding: .5em;
}

@media (max-width: 1000px) {
  #menu {
    width: 95%;
  }
}

#menu ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

#menu ul a {
  text-decoration: none;
  color: white;
}

#menu ul a li {
  font-size: 20px;
  -webkit-transition: all 1s;
  transition: all 1s;
  padding: 1em;
  border-bottom: solid white thin;
}

#menu ul a li:hover {
  font-size: 30px;
  color: #424deb;
}

.infoSomething {
  text-align: center;
  color: #3f3d3d;
}

.chart {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(20em, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
  grid-gap: 2em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chart #menu {
  margin: 0;
  -webkit-box-shadow: 0 1px 2px 2px #bfbfbf;
          box-shadow: 0 1px 2px 2px #bfbfbf;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  letter-spacing: 7px;
  z-index: -1;
  margin-top: 1em;
}
/*# sourceMappingURL=test.css.map */