// mat Icons
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
// fonts
@import url("https://fonts.googleapis.com/css?family=Almendra Display");
@import url("https://fonts.googleapis.com/css?family=Cabin Sketch");
@import url("https://fonts.googleapis.com/css?family=Rajdhani&display=swap");
@import url("https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Rajdhani&display=swap");
@import url("https://fonts.googleapis.com/css?family=Faster+One|Gloria+Hallelujah|Rajdhani&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Dynalight&display=swap");
// Something
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
body,
html {
    height: 100%;
}

$btnPrimary: rgba(95,
61,
243,
0.767);
$color: rgb(126,
122,
122);
$bottomBoarderColor: rgba(100,
100,
255,
0.534);
$borderThin: rgba(226,
226,
226,
1);
$desktopVew: 1000px;
@mixin desktop {
    @media (max-width: $desktopVew) {
        @content;
    }
}

@mixin search {
    #search {
        form {
            display: flex;
            justify-content: center;
            align-content: center;
            width: 100%;
            input {
                width: 60%;
                padding: 5px;
                border: none;
                border-bottom: solid thin $borderThin;
            }
            button {
                border: none;
                &:hover {
                    color: white;
                    background: rgb(30, 109, 30);
                }
            }
        }
    }
}

body {
    margin: 0;
    background: white;
    background-image: url("http://localhost/jfragleshop/images/headerimg.png");
    background-attachment: fixed;
    background-size: 200px 200px;
    background-repeat: no-repeat;
    background-position: bottom right;
    padding-bottom: 5em;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    opacity: 1;
}

table {
    border-collapse: collapse !important;
}

i {
    vertical-align: middle !important;
}

a {
    font-family: "Raleway", sans-serif;
}

.valError {
    color: red;
}

#pay {
    display: none;
}

#scrollBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background: linear-gradient( to bottom right, rgba(0, 140, 255, 0.692), rgba(183, 0, 255, 0.596));
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    @include desktop {
        padding: 0.5em;
    }
}

.flash {
    position: fixed;
    right: 10%;
    top: 7%;
    width: 220px;
    z-index: 10;
    background: linear-gradient( to bottom right, rgba(0, 140, 255, 0.692), rgba(183, 0, 255, 0.596));
    color: white;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    box-shadow: 1px 1px 2px 2px #b9b8b8d9;
    @include desktop {
        right: 10%;
    }
    .head {
        background: #f5f5f5;
        color: rgb(17, 16, 16);
        margin-top: 0;
        span {
            position: absolute;
            right: 15px;
            top: -2px;
            padding: 0px 0px 0px 6px;
            font-size: 36px;
            cursor: pointer;
            color: rgb(17, 16, 16);
            border-radius: 0 0 0 50%;
            font-weight: bold;
            &:hover {
                color: rgb(212, 29, 29);
            }
        }
    }
    a {
        text-decoration: none;
        border-radius: 5px;
        font-weight: bold;
        color: white;
        display: block;
        text-align: center;
        padding: 15px;
        text-transform: uppercase;
        background: rgba(95, 61, 243, 0.767);
        margin-top: 10px;
        &:hover {
            background: rgba(243, 61, 213, 0.767);
        }
    }
}

.flash-danger {
    background: rgba(238, 29, 29, 0.842);
    color: rgb(255, 255, 255);
}

header {
    font-family: "Almendra Display";
    font-size: 2em;
    margin: 5rem 1.5em 0 auto;
    width: 77%;
    color: black;
    border-bottom: solid thin $borderThin;
    text-align: center;
}

h1 {
    text-align: center;
}

#caties {
    background: white;
    position: fixed;
    height: 2em;
    width: 100%;
    top: -50em;
    transition: all 1s;
    padding: 10px;
    z-index: 5;
    // ....here
    @include search;
    .subscribe {
        width: 90%;
        height: auto;
        padding-right: 10px;
        padding-left: 10px;
        margin-top: 2.5em;
        border-right: solid 1px $borderThin;
        background: white;
        text-align: center;
        padding-bottom: 1em;
        @media (min-width: $desktopVew) {
            display: none;
        }
        header {
            font-family: "Almendra Display";
            font-size: 2em;
            margin: 0;
            margin-bottom: 0.5em;
            border: none;
            text-align: center;
        }
        #subForm {
            margin-bottom: 0.5em;
        }
        form {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: space-between;
            padding: 7px;
            input {
                padding: 5px;
                width: 100%;
                margin-bottom: 5px;
            }
            button {
                padding: 5px;
                color: white;
                text-transform: uppercase;
                width: 100%;
                height: 50px;
                border: none;
                background: #b9a9aeb9;
                &:hover {
                    box-shadow: 0px 2px 6px 1px rgba(150, 145, 150, 1);
                    background: $btnPrimary;
                }
            }
        }
        span {
            font-family: "Rajdhani", sans-serif;
        }
        .catSub {
            background: white;
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 2em;
            border-bottom: solid 1px rgba(226, 226, 226, 1);
            justify-content: center;
            justify-content: space-around;
            text-transform: uppercase;
            .icon {
                cursor: pointer;
                a {
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    margin-right: 1em;
                    text-decoration: none;
                    img {
                        width: 50px;
                        height: 50px;
                        border: solid 0.7px rgba(165, 163, 175, 0.767);
                        padding: 5px;
                    }
                    span {
                        color: white;
                        background: rgba(165, 163, 175, 0.767);
                    }
                }
                &:hover {
                    background: $btnPrimary;
                    span {
                        background: $btnPrimary;
                    }
                }
            }
        }
    }
}

.contain {
    display: flex;
    width: 100%;
    height: 100%;
    margin-bottom: 3em;
    // for the tabs
    .test {
        width: 80%;
        @include desktop {
            width: 90%;
            margin-left: 1em;
        }
        .tabRad {
            display: none;
            visibility: hidden;
            &:checked+label {
                color: #0af;
                border-bottom: 2px solid $bottomBoarderColor;
            }
        }
        label {
            display: inline-block;
            margin: 10px 0 -1px 2em;
            padding: 15px 25px;
            font-weight: 600;
            text-align: center;
            color: #abc;
            border: 1px solid transparent;
            &:before {
                margin-right: 10px;
            }
            &:hover {
                color: red;
                cursor: pointer;
            }
            @include desktop {
                &:before {
                    margin: 0;
                    font-size: 18px;
                }
            }
        }
        label[for*="1"]:before {
            content: "\f1cb";
            // content: 'shopping_cart';
        }
        label[for*="2"]:before {
            content: "\f17d";
        }
        label[for*="3"]:before {
            content: "\f16c";
        }
        label[for*="4"]:before {
            content: "\f171";
        }
        #tab1:checked~#content1,
        #tab2:checked~#content2,
        #tab3:checked~#content3,
        #tab4:checked~#content4 {
            display: grid;
        }
        section {
            display: none;
            .products {
                // width: 100%;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
                grid-gap: 1em;
                z-index: 0;
                margin: 2em;
                @include desktop {
                    margin: 1em;
                    grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
                }
                .card {
                    img {
                        // padding: 5px;
                        margin-bottom: 3px;
                        width: 100%;
                        height: 250px;
                        @include desktop {
                            height: 176px;
                        }
                    }
                    hr {
                        border-top: 0.6px solid #e4dbdb;
                        width: 100%;
                        margin: 0;
                    }
                    .info {
                        padding: 2px;
                        background: rgb(255, 255, 255);
                        border-style: solid;
                        border-width: thin;
                        border-color: rgba(226, 226, 226, 1);
                        &:hover {
                            box-shadow: 0px 2px 6px 1px rgba(150, 145, 150, 1);
                        }
                        form {
                            display: flex;
                            display: flex;
                            justify-content: space-between;
                            width: 100%;
                            align-items: center;
                            &:hover {
                                background: #e4e4e4;
                            }
                            #add {
                                margin: -1em 0 0;
                                justify-self: right;
                                text-transform: uppercase;
                                width: 50px;
                                height: 50px;
                                background: white;
                                border: none;
                                transition: width 0.6s;
                                transition-timing-function: linear;
                                border: solid thin $borderThin;
                                span {
                                    display: none;
                                }
                                &:hover {
                                    // background: #ffe4ec;
                                    box-shadow: 0px 2px 6px 1px rgba(150, 145, 150, 1);
                                    width: 167px;
                                    @include desktop {
                                        width: 50px;
                                    }
                                    span {
                                        display: inline;
                                        @include desktop {
                                            display: none;
                                        }
                                    }
                                    i {
                                        display: none;
                                        @include desktop {
                                            display: block;
                                        }
                                    }
                                    // box-shadow: 0px 2px 6px 1px rgba(150, 145, 150, 1);
                                }
                                i {
                                    background: linear-gradient( to right, #30cfd0 0%, #330867 100%);
                                    -webkit-background-clip: text;
                                    -webkit-text-fill-color: transparent;
                                }
                            }
                            .qty {
                                margin-left: 1em;
                                justify-self: left;
                                .input-group {
                                    span {
                                        font-size: 12px;
                                    }
                                    .quantity-field {
                                        height: 20px;
                                        text-align: center;
                                        width: 52px;
                                        // margin: 0 0 7px;
                                        // resize: vertical;
                                        border: none;
                                        // border-style: solid;
                                        border-bottom-width: solid thin;
                                        border-color: rgb(231, 231, 231);
                                    }
                                }
                            }
                        }
                        p {
                            padding: 0 1em 0 1em;
                            font-size: 14px;
                            color: rgba(105, 105, 115, 1);
                            // line-height: 1.5;
                        }
                        span {
                            // font-family: 'Rajdhani', sans-serif;
                            // font-family: 'Gloria Hallelujah', cursive;
                            // font-size: 1.5em;
                            margin: 0 0 5px;
                        }
                        .price {
                            padding: 0;
                            margin: 5px 0;
                            font-size: 1.5em;
                            color: red;
                            font-family: "Dynalight", cursive;
                        }
                        .pricething {
                            width: 70px;
                        }
                        display: grid;
                        justify-items: center;
                        .imagePlace {
                            position: relative;
                            #outStock {
                                position: absolute;
                                left: 0;
                                top: 40%;
                                transform: rotate(-40deg);
                                background: rgb(240, 23, 23);
                                color: white;
                                padding: 6px;
                                width: 100%;
                                text-align: center;
                                border-radius: 50px;
                                clip-path: polygon( 0% 15%, 24% 15%, 15% 0%, 85% 0%, 76% 16%, 100% 15%, 100% 85%, 78% 85%, 85% 100%, 15% 100%, 21% 83%, 0% 85%);
                            }
                            #ad {
                                position: absolute;
                                right: 0;
                                top: 5px;
                                display: flex;
                                flex-wrap: wrap;
                                justify-content: flex-end;
                                align-items: flex-end;
                                width: 101px;
                                font-size: 15px;
                                i {
                                    font-size: 15px;
                                }
                                #sp,
                                #new {
                                    clip-path: polygon(100% 0, 100% 100%, 28% 100%, 0 0);
                                    width: 80px;
                                    background: rgb(214, 50, 50);
                                    color: white;
                                    padding: 3px;
                                    text-align: right;
                                }
                                #new {
                                    background: #3345a9 !important;
                                    // top: 36px;
                                    width: 60px !important;
                                }
                            }
                            .text {
                                position: absolute;
                                top: 0;
                                right: 0;
                                bottom: 0;
                                left: 0;
                                width: inherit;
                                // border-radius: 9px;
                                height: 250px;
                                text-align: center;
                                background: linear-gradient( to bottom right, rgba(0, 140, 255, 0.007), rgba(183, 0, 255, 0.431));
                                opacity: 0;
                                transition: opacity 0.6s;
                                vertical-align: middle;
                                line-height: 200px;
                                &:hover {
                                    opacity: 1;
                                }
                                a {
                                    text-decoration: none;
                                    border-radius: 5px;
                                    font-weight: bold;
                                    color: white;
                                    // background-color: white;
                                    background: linear-gradient( to bottom right, rgba(0, 140, 255, 0.548), rgba(183, 0, 255, 0.404));
                                    text-align: center;
                                    padding: 10px;
                                    margin-top: 10px;
                                    h3 {
                                        // color: rgb(36, 35, 35);
                                    }
                                }
                                h3 {
                                    color: white;
                                    display: inline-table;
                                    vertical-align: middle;
                                    line-height: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    // }
    // for the tabs
    .subscribe {
        width: 20%;
        height: auto;
        padding-right: 10px;
        padding-left: 10px;
        margin-top: -2.5em;
        border-right: solid 1px $borderThin;
        background-image: url("http://localhost/jfragleshop/images/headerimg.png");
        background-size: 300px 300px;
        background-repeat: no-repeat;
        background-position: bottom;
        @include desktop {
            display: none;
        }
        header {
            font-family: "Almendra Display";
            font-size: 2em;
            margin: 0;
            margin-bottom: 0.5em;
            border: none;
        }
        #subForm {
            margin-bottom: 0.5em;
        }
        form {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: space-between;
            padding: 7px;
            input {
                padding: 5px;
                width: 100%;
                margin-bottom: 5px;
            }
            button {
                padding: 5px;
                color: white;
                text-transform: uppercase;
                width: 100%;
                height: 50px;
                border: none;
                background: #b9a9aeb9;
                &:hover {
                    box-shadow: 0px 2px 6px 1px rgba(150, 145, 150, 1);
                    background: $btnPrimary;
                }
            }
        }
        span {
            font-family: "Rajdhani", sans-serif;
        }
        .catSub {
            background: white;
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 2em;
            border-bottom: solid 1px rgba(226, 226, 226, 1);
            justify-content: center;
            justify-content: space-around;
            text-transform: uppercase;
            .icon {
                cursor: pointer;
                a {
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    margin-right: 1em;
                    text-decoration: none;
                    img {
                        width: 50px;
                        height: 50px;
                        border: solid 0.7px rgba(165, 163, 175, 0.767);
                        padding: 5px;
                    }
                    span {
                        color: white;
                        background: rgba(165, 163, 175, 0.767);
                    }
                    &:hover {
                        background: $btnPrimary;
                        span {
                            background: $btnPrimary;
                        }
                    }
                }
            }
        }
    }
}

nav {
    // background: rgba(255, 255, 255, 0.527);
    height: 50px;
    z-index: 5;
    position: fixed;
    top: 0;
    width: 100%;
    transition: all 1.5s;
    display: flex;
    justify-content: space-between;
    // align-items: center;
    box-shadow: 2px 2px 2px 2px rgb(219, 219, 219);
    border-bottom: solid thin rgba(100, 100, 255, 0.534);
    color: red !important;
    a {
        color: $color;
        display: flex;
        align-content: space-between;
        text-decoration: none;
        img {
            // margin-right: 7px;
            margin-top: 5px;
            width: 40px;
            height: 40px;
        }
    }
    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
        @include desktop {
            margin: 0;
        }
        button {
            border-radius: 3px;
            padding: 7px;
            border: none;
            background: none;
            color: rgb(17, 17, 17);
            &:hover {
                box-shadow: 0px 2px 6px 1px rgba(150, 145, 150, 1);
            }
        }
    }
    .closebtn {
        margin: 7px 10px 0;
        font-size: 30px;
        color: $color;
        font-weight: bold;
        cursor: pointer;
    }
}

.sidenav {
    width: 300px;
    height: 100%;
    background: white;
    background-image: url("http://localhost/jfragleshop/images/headerimg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 10;
    right: -20em;
    transition: all 500ms ease;
    .closebtn {
        font-size: 40px;
        color: $color;
        font-weight: bold;
        cursor: pointer;
        width: 100%;
        padding-left: 0.5em;
        // background: pink;
        span {
            text-align: end;
            font-size: 20px;
        }
    }
    ul {
        margin: 0;
        margin-left: 20px;
        display: flex;
        margin-top: 50%;
        justify-content: space-around;
        // justify-content: flex-start;
        flex-flow: column wrap;
        padding: 0;
        li {
            // color: white;
            input {
                // color: white;
                border: none;
                border-radius: 1px;
                background: rgba(207, 205, 205, 0.733);
                border-bottom: solid white 1px;
                padding: 5px;
                opacity: 0.9;
                &:hover {
                    opacity: 10;
                }
            }
            a {
                display: block;
                text-decoration: none;
                // color: white;
                padding: 1em;
                transition: all 1s;
                &:hover {
                    color: black;
                    font-size: 1.5em;
                    background-color: rgba(223, 199, 199, 0.507);
                }
            }
        }
    }
}

.badge {
    font-size: 0.8em;
    z-index: 3;
    border-radius: 40%;
    color: rgb(255, 255, 255);
    padding: 4px;
    background: rgba(247, 9, 9, 0.726);
}

.cart {
    width: 300px;
    height: 100%;
    // background: linear-gradient(to bottom right, rgba(0, 140, 255, 0.781), rgba(183, 0, 255, 0.767));
    background: white;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 10;
    border-right: solid $bottomBoarderColor 1px;
    left: -20em;
    transition: all 500ms ease;
    .cartItems {
        margin-top: 1em;
        padding: 5px;
        display: block;
        max-height: 20.5em;
        overflow: auto;
        display: block;
        color: $color;
        text-decoration: none;
        @include desktop {
            max-height: 20.5em;
        }
        .item {
            margin-top: 1em;
            border-bottom: solid 0.5px rgba(10, 10, 146, 0.37);
            text-align: left;
            img {
                width: 70px;
                height: 50px;
                float: left;
                margin-bottom: 5px;
            }
            .theQty {
                margin-right: 10px;
            }
            .del {
                i {
                    color: red;
                }
            }
            .pricing {
                padding: 4px;
                .prodName {
                    margin-left: 80px;
                    margin-bottom: 5px;
                    margin-top: -5px;
                }
                .price {
                    margin-left: 200px;
                }
                .input-group {
                    margin-left: 80px;
                    input {
                        border: 1px solid #eeeeee;
                        box-sizing: border-box;
                        margin: 0;
                        outline: none;
                        padding: 10px;
                    }
                    .quantity-field {
                        position: relative;
                        height: 28px;
                        left: -6px;
                        text-align: center;
                        width: 52px;
                        display: inline-block;
                        margin: 0 0 5px;
                        resize: vertical;
                    }
                }
            }
        }
    }
    .top {
        text-align: center;
        border-bottom: solid $bottomBoarderColor 1px;
        height: 30px;
        h2 {
            color: $color;
            // position: absolute;
            left: 5px;
            // top: 0px;
            // margin-top: 10px;
            padding: 0;
        }
        hr {
            visibility: hidden;
            position: absolute;
            top: 41px;
            left: 0;
            right: 0;
        }
        .closebtn {
            position: absolute;
            top: 3px;
            right: 10px;
            font-size: 40px;
            color: $color;
            font-weight: bold;
            cursor: pointer;
        }
    }
    .bottom {
        position: absolute;
        bottom: 1em;
        padding: 10px;
        width: 280px;
        height: 126px;
        border-top: solid $bottomBoarderColor 1px;
        color: $color;
        h2 {
            color: $color;
            margin: 0;
        }
        span {
            width: 100%;
            position: absolute;
            bottom: 112px;
            right: -210px;
        }
        a {
            color: rgb(36, 35, 35);
            text-decoration: none;
            border-radius: 5px;
            font-weight: bold;
            color: white;
            display: block;
            text-align: center;
            padding: 15px;
            text-transform: uppercase;
            background: $btnPrimary;
        }
    }
}

// for the contacts page
#conatcUS {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
    grid-gap: 1em;
    z-index: 0;
    margin: 1em;
    form {
        display: flex;
        flex-direction: column;
        width: 100%;
        input {
            margin-bottom: 0.5em;
            padding: 10px;
            border: none;
            box-shadow: 2px 2px 2px 2px rgba(151, 147, 147, 0.616);
            border-radius: 10px;
            background: linear-gradient( to bottom right, rgba(255, 255, 255, 0.664), rgba(255, 255, 255, 0.664), rgba(183, 0, 255, 0.596));
        }
        textarea {
            margin-bottom: 0.5em;
            padding: 10px;
            border: none;
            box-shadow: 2px 2px 2px 2px rgba(151, 147, 147, 0.616);
        }
        button {
            padding: 10px;
            border: none;
            box-shadow: 2px 2px 2px 2px rgba(151, 147, 147, 0.616);
            text-transform: uppercase;
            letter-spacing: 7px;
            background-color: #edd9dfb9;
        }
    }
    .sidies {
        .info {
            p {
                margin: 0;
            }
        }
    }
    .map {
        box-shadow: 2px 2px 2px 2px rgba(151, 147, 147, 0.616);
    }
}

main {
    border-top: 1px solid #abc;
    // main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
    grid-gap: 1em;
    z-index: 0;
    margin: 2em;
    @include desktop {
        grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
    }
    .card {
        img {
            // padding: 5px;
            margin-bottom: 3px;
            width: 100%;
            height: 250px;
            @include desktop {
                height: 176px;
            }
        }
        hr {
            border-top: 0.6px solid #e4dbdb;
            width: 100%;
            margin: 0;
        }
        .info {
            padding: 2px;
            background: rgb(255, 255, 255);
            border-style: solid;
            border-width: thin;
            border-color: rgba(226, 226, 226, 1);
            &:hover {
                box-shadow: 0px 2px 6px 1px rgba(150, 145, 150, 1);
            }
            form {
                display: flex;
                display: flex;
                justify-content: space-between;
                width: 100%;
                align-items: center;
                &:hover {
                    background: #e4e4e4;
                }
                #add {
                    margin: -1em 0 0;
                    justify-self: right;
                    text-transform: uppercase;
                    width: 50px;
                    height: 50px;
                    background: white;
                    border: none;
                    transition: width 0.6s;
                    transition-timing-function: linear;
                    border: solid thin $borderThin;
                    span {
                        display: none;
                    }
                    &:hover {
                        // background: #ffe4ec;
                        box-shadow: 0px 2px 6px 1px rgba(150, 145, 150, 1);
                        width: 167px;
                        span {
                            display: inline;
                        }
                        i {
                            display: none;
                        }
                        // box-shadow: 0px 2px 6px 1px rgba(150, 145, 150, 1);
                    }
                    i {
                        background: linear-gradient(to right, #30cfd0 0%, #330867 100%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                }
                .qty {
                    margin-left: 1em;
                    justify-self: left;
                    .input-group {
                        span {
                            font-size: 12px;
                        }
                        .quantity-field {
                            height: 20px;
                            text-align: center;
                            width: 52px;
                            // margin: 0 0 7px;
                            // resize: vertical;
                            border: none;
                            // border-style: solid;
                            border-bottom-width: solid thin;
                            border-color: rgb(231, 231, 231);
                        }
                    }
                }
            }
            p {
                padding: 0 1em 0 1em;
                font-size: 14px;
                color: rgba(105, 105, 115, 1);
                // line-height: 1.5;
            }
            span {
                margin: 0 0 5px;
            }
            .price {
                padding: 0;
                margin: 5px 0;
                font-size: 1.5em;
                color: red;
                font-family: "Dynalight", cursive;
            }
            .pricething {
                width: 70px;
            }
            display: grid;
            justify-items: center;
            .imagePlace {
                position: relative;
                #outStock {
                    position: absolute;
                    left: 0;
                    top: 40%;
                    transform: rotate(-40deg);
                    background: rgb(240, 23, 23);
                    color: white;
                    padding: 6px;
                    width: 100%;
                    text-align: center;
                    border-radius: 50px;
                    clip-path: polygon( 0% 15%, 24% 15%, 15% 0%, 85% 0%, 76% 16%, 100% 15%, 100% 85%, 78% 85%, 85% 100%, 15% 100%, 21% 83%, 0% 85%);
                }
                #ad {
                    position: absolute;
                    right: 0;
                    top: 5px;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: flex-end;
                    align-items: flex-end;
                    width: 101px;
                    font-size: 15px;
                    i {
                        font-size: 15px;
                    }
                    #sp,
                    #new {
                        clip-path: polygon(100% 0, 100% 100%, 28% 100%, 0 0);
                        width: 80px;
                        background: rgb(214, 50, 50);
                        color: white;
                        padding: 3px;
                        text-align: right;
                    }
                    #new {
                        background: #3345a9 !important;
                        // top: 36px;
                        width: 60px !important;
                    }
                }
                .text {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    width: inherit;
                    // border-radius: 9px;
                    height: 250px;
                    text-align: center;
                    background: linear-gradient( to bottom right, rgba(0, 140, 255, 0.007), rgba(183, 0, 255, 0.431));
                    opacity: 0;
                    transition: opacity 0.6s;
                    vertical-align: middle;
                    line-height: 200px;
                    &:hover {
                        opacity: 1;
                    }
                    a {
                        text-decoration: none;
                        border-radius: 5px;
                        font-weight: bold;
                        color: white;
                        // background-color: white;
                        background: linear-gradient( to bottom right, rgba(0, 140, 255, 0.548), rgba(183, 0, 255, 0.404));
                        text-align: center;
                        padding: 10px;
                        margin-top: 10px;
                        h3 {
                            // color: rgb(36, 35, 35);
                        }
                    }
                    h3 {
                        color: white;
                        display: inline-table;
                        vertical-align: middle;
                        line-height: 100%;
                    }
                }
            }
        }
    }
}

.thedetails {
    header {
        margin: 1em 0;
        width: 100%;
    }
    #details {
        width: 100%;
        // margin-top: 6em;
        // min-height: 20em;
        // margin: 6em 2em 0 2em;
        .card {
            .info {
                display: flex;
                padding: 2px;
                background: rgb(255, 255, 255);
                @include desktop {
                    flex-wrap: wrap;
                }
                .imagePlace {
                    width: 60%;
                    @include desktop {
                        width: 100%;
                    }
                    img {
                        width: 100%;
                        height: 500px;
                        transition: all 1s;
                        &:hover {
                            transform: scale(1.2);
                        }
                    }
                }
                .imagePlace {
                    position: relative;
                    #outStock {
                        position: absolute;
                        left: 20%;
                        top: 40%;
                        transform: rotate(-40deg);
                        background: rgb(240, 23, 23);
                        color: white;
                        padding: 6px;
                        width: 60%;
                        text-align: center;
                        border-radius: 50px;
                        clip-path: polygon( 0% 15%, 24% 15%, 15% 0%, 85% 0%, 76% 16%, 100% 15%, 100% 85%, 78% 85%, 85% 100%, 15% 100%, 21% 83%, 0% 85%);
                    }
                    #ad {
                        position: absolute;
                        right: 0;
                        top: 5px;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: flex-end;
                        align-items: flex-end;
                        width: 170px;
                        font-size: 20px;
                        i {
                            font-size: 20px;
                        }
                        #sp,
                        #new {
                            clip-path: polygon(100% 0, 100% 100%, 28% 100%, 0 0);
                            width: 80%;
                            background: rgb(214, 50, 50);
                            color: white;
                            padding: 3px;
                            text-align: right;
                        }
                        #new {
                            background: #3345a9 !important;
                            // top: 36px;
                            width: 60% !important;
                        }
                    }
                }
                .dits {
                    width: 35%;
                    display: grid;
                    justify-items: center;
                    padding: 2em;
                    @include desktop {
                        width: 100%;
                    }
                    hr {
                        justify-self: center !important;
                        border-top: 0.6px solid #e4dbdb;
                        width: 100%;
                        height: 0.5px;
                        margin: 0;
                    }
                    .price {
                        color: red;
                        font-family: "Dynalight", cursive;
                        font-size: 2em;
                    }
                    form {
                        display: flex;
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        align-items: center;
                        &:hover {
                            background: #e4e4e4;
                        }
                        #add {
                            margin: -1em 0 0;
                            justify-self: right;
                            text-transform: uppercase;
                            width: 200px;
                            height: 50px;
                            background: white;
                            border: none;
                            box-shadow: 0px 2px 6px 1px rgba(150, 145, 150, 1);
                            &:hover {
                                // box-shadow: 0px 2px 6px 1px rgba(150, 145, 150, 1);
                            }
                            i {
                                background: linear-gradient(to right, #30cfd0 0%, #330867 100%);
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                            }
                            @include desktop {
                                margin: 0;
                            }
                        }
                        .qty {
                            margin-left: 1em;
                            justify-self: left;
                            .input-group {
                                span {
                                    font-size: 12px;
                                }
                                .quantity-field {
                                    height: 20px;
                                    text-align: center;
                                    width: 52px;
                                    // margin: 0 0 7px;
                                    // resize: vertical;
                                    border: none;
                                    // border-style: solid;
                                    border-bottom-width: solid thin;
                                    border-color: rgb(231, 231, 231);
                                }
                            }
                        }
                    }
                    p {
                        padding-left: 1em;
                    }
                    strong {
                        font-size: 1.5em;
                    }
                    h5 {
                        padding: 0;
                        margin: 0;
                        font-size: 1em;
                    }
                    .pricething {
                        width: 70px;
                    }
                    .qty {
                        margin-left: 1em;
                        justify-self: left;
                        .input-group {
                            input {
                                border: 1px solid #eeeeee;
                                box-sizing: border-box;
                                margin: 10px;
                                outline: none;
                                border: none;
                            }
                            .quantity-field {
                                height: 20px;
                                text-align: center;
                                width: 52px;
                                margin: 0 0 7px;
                                resize: vertical;
                            }
                        }
                    }
                }
            }
        }
    }
}

#overlay {
    width: 100%;
    height: 100%;
    top: 0;
    display: none;
    background: #000000ba;
    position: fixed;
    transition: all 2s;
    z-index: 4;
    transition: opacity 0.6s;
    // display: flex;
    justify-content: center;
    overflow: hidden;
    #help {
        background: #f5f5f5;
        margin: 3em;
        width: 400px;
        height: 100%;
        border: none;
        border-image: linear-gradient( to bottom right, rgba(183, 0, 255, 0.466), rgba(0, 140, 255, 0.37));
        border-image-slice: 1;
        border-left: solid;
        border-right: solid;
        border-width: 10px;
        visibility: hidden;
        .closebtn {
            position: absolute;
            top: 0;
            right: 0;
            font-size: 50px;
            // color: white;
        }
        @include desktop {
            width: 100%;
            left: 0;
            right: 0;
            margin: 3.5em 1em 1em 1em;
        }
        h2 {
            font-family: "Almendra Display";
            color: white;
            font-weight: bold;
            text-transform: uppercase;
            margin: 0;
            background-image: linear-gradient( to bottom right, rgba(183, 0, 255, 0.719), rgba(0, 140, 255, 0.534));
        }
        p {
            padding: 7px;
        }
        button {
            border: none;
            background: rgb(245, 115, 115);
            padding: 10px;
            text-transform: uppercase;
            border-radius: 3px;
            bottom: 0;
            right: 0;
            margin-left: 50%;
        }
    }
}

// for the cart Page
#cartPage {
    text-align: center;
    width: 100%;
    // margin: 1em;
    p {
        width: 50%;
        font-size: 22px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        background: #789;
        border-radius: 5px;
        padding: 5px;
    }
    .mainTab {
        width: 90%;
        justify-content: center;
        text-align: center;
        border: none;
        margin-bottom: 2em;
        @include desktop {
            width: 100%;
        }
        tr {
            &:hover {
                background-color: #f5f5f5;
            }
        }
        th,
        td {
            border-bottom: 1px solid #ddd;
            padding: 6px;
        }
        thead {
            background-image: linear-gradient( to bottom right, rgba(0, 140, 255, 0.534), rgba(183, 0, 255, 0.719));
        }
        .qty {
            width: 50px;
        }
        img {
            width: 50px;
            height: 50px;
        }
        button {
            border: none;
            // border-radius: 3px;
            color: white;
            padding: 3px;
            &:hover {
                background: rgb(4, 4, 5);
            }
        }
        .ren {
            background: rgb(45, 46, 128);
        }
        .del {
            text-decoration: none;
            color: rgb(245, 41, 41);
        }
        input {
            border: none;
            width: 50px;
            text-align: center;
            padding: 7px;
        }
    }
    .total {
        width: 50%;
        justify-content: center;
        text-align: center;
        border: none;
        border-radius: 3px;
        justify-self: center;
        background: white;
        .leftis {
            width: 50%;
            text-align: right;
        }
        td {
            text-align: left;
            padding: 4px;
            a {
                color: rgb(36, 35, 35);
                text-decoration: none;
                border-radius: 5px;
                // font-weight: bold;
                color: white;
                display: block;
                text-align: center;
                padding: 15px;
                text-transform: uppercase;
                font-family: "Raleway", sans-serif;
                i {
                    font-size: 15px;
                }
            }
            .cont {
                background: rgba(47, 47, 194, 0.87);
            }
            .checkout {
                background: rgba(25, 110, 25, 0.925);
                cursor: pointer;
            }
        }
    }
    @keyframes form {
        0% {
            opacity: 0;
            transform: translateY(-23);
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }
    #checkOutForm {
        display: none;
        flex-direction: column;
        width: 50%;
        margin: 1em auto;
        animation: 1s form;
        .heading {
            text-transform: uppercase;
            margin: 0.5em;
            border-bottom: solid thin rgb(207, 115, 187);
        }
        input,
        select {
            margin-bottom: 0.5em;
            padding: 10px;
            border: none;
            box-shadow: 2px 2px 2px 2px rgba(151, 147, 147, 0.616);
            border-radius: 10px;
            background: linear-gradient( to bottom right, rgba(255, 255, 255, 0.664), rgba(255, 255, 255, 0.664), rgba(183, 0, 255, 0.596));
        }
        textarea {
            margin-bottom: 0.5em;
            padding: 10px;
            border: none;
            box-shadow: 2px 2px 2px 2px rgba(151, 147, 147, 0.616);
        }
        button {
            padding: 10px;
            border: none;
            box-shadow: 2px 2px 2px 2px rgba(151, 147, 147, 0.616);
            text-transform: uppercase;
            letter-spacing: 7px;
            background-color: #6ad860b9;
            margin: 1em 0;
            cursor: pointer;
            background-color: #d860d8b9;
            color: white;
            border-radius: 1em;
        }
    }
}

#aboutPage {
    #banner {
        padding: 12em 0 10em 0;
        background-image: url("http://localhost/jfragleshop/images/banner.jpg");
        background-size: cover;
        background-position: top;
        background-attachment: fixed;
        background-repeat: no-repeat;
        text-align: center;
        header {
            margin: 0;
            color: white;
            margin: 0 auto 0 auto;
        }
    }
    .aboutUs {
        margin: 0 1em 0 1em;
        text-align: center;
        .statements {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
        }
    }
}

// =============================== for admin ============================
@mixin cardIssues {
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-content: center;
    text-align: center;
    margin: 7em auto;
    background: linear-gradient(rgba(216, 157, 240, 0.801), rgba(185, 165, 240, 0.767), rgba(212, 129, 241, 0.199), rgba(227, 174, 247, 0.199));
}

#add_search {
    @include search;
}

#csold {
    width: 90%;
    border-radius: 10px;
    margin: 4em auto;
    text-align: center;
    box-shadow: 0px 1px 2px 2px rgb(196, 195, 195);
    background: linear-gradient( rgba(240, 157, 208, 0.801), rgba(212, 129, 241, 0.199), rgba(227, 174, 247, 0.199));
    h2 {
        color: rgb(92, 88, 88);
        font-family: "Almendra Display";
        font-weight: 800;
        span {
            color: rgb(150, 110, 224);
        }
    }
}

.cardIsh {
    @include cardIssues;
    box-shadow: 0 1px 2px 2px #bfbfbf;
    @include desktop {
        width: 100%;
        margin: 4em 0;
    }
    * {
        width: 90%;
        margin: 0 auto;
    }
    h2 {
        margin-top: 4em;
        color: white;
    }
    button {
        background: #6c88e2b9 !important;
        border-radius: 1em;
        border: none;
        margin: 1em;
        color: white;
        height: 2em;
        padding: 0 !important;
    }
    input {
        border: solid thin rgb(197, 197, 197);
        border-radius: 10px;
        padding: 7px;
        text-align: center;
        background: rgba(255, 255, 255, 0.404);
    }
    label {
        text-align: left;
        margin-top: 1em;
        color: rgb(236, 236, 236);
    }
}

.login {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 1em auto;
    @include desktop {
        width: 95%;
    }
    header {
        margin-bottom: 1em;
        text-align: center;
    }
    input,
    select {
        margin-bottom: 0.5em;
        padding: 10px;
        border: none;
        box-shadow: 2px 2px 2px 2px rgba(151, 147, 147, 0.616);
        border-radius: 10px;
        background: linear-gradient( to bottom right, rgba(255, 255, 255, 0.664), rgba(255, 255, 255, 0.664), rgba(183, 0, 255, 0.596));
    }
    textarea {
        margin-bottom: 0.5em;
        padding: 10px;
        border: none;
        box-shadow: 2px 2px 2px 2px rgba(151, 147, 147, 0.616);
    }
    button {
        padding: 10px;
        border: none;
        box-shadow: 2px 2px 2px 2px rgba(151, 147, 147, 0.616);
        text-transform: uppercase;
        letter-spacing: 7px;
        background-color: #edd9dfb9;
    }
    .valError {
        color: red;
    }
}

#tabThing {
    border-collapse: collapse;
    width: 95%;
    margin: 5em auto;
    box-shadow: 0px 1px 2px 2px rgb(170, 170, 170);
    th {
        background: linear-gradient( to bottom right, rgba(3, 139, 250, 0.404), rgba(183, 0, 255, 0.486));
    }
    th,
    td {
        text-align: center;
        padding: 3px;
    }
    tr:nth-child(even) {
        background-color: #fff1fd;
    }
    button {
        background: rgb(69, 216, 69);
        border: none;
        border-radius: 3px;
        i {
            color: white;
        }
    }
    input,
    textarea {
        border: none;
        padding: 3px;
        text-align: center;
        background: none;
        border-bottom: solid thin white;
    }
}

#menu {
    @include cardIssues;
    width: 95%;
    height: 100%;
    padding: .5em;
    @include desktop {
        width: 95%;
    }
    ul {
        list-style-type: none;
        text-align: center;
        padding: 0;
        margin: 0;
        a {
            text-decoration: none;
            color: white;
            li {
                font-size: 20px;
                transition: all 1s;
                padding: 1em;
                border-bottom: solid rgb(255, 255, 255) thin;
                &:hover {
                    font-size: 30px;
                    color: rgb(66, 77, 235);
                }
            }
        }
    }
}

.infoSomething {
    text-align: center;
    color: rgb(63, 61, 61);
}

.chart {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
    grid-gap: 2em;
    justify-content: center;
    align-items: center;
    #menu {
        margin: 0;
        box-shadow: 0 1px 2px 2px #bfbfbf;
    }
}

// ============================== end admin =================================
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    letter-spacing: 7px;
    z-index: -1;
    margin-top: 1em;
}